!!!
%html
  %head
    %title Hampton Catlin | Ruby, Haml, Wikipedia, iPhone Development
    <link href="http://blog.hamptoncatlin.com/feed/atom.xml" rel="alternate" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" href="/application.css" />
    <script type="text/javascript">var a=new Date,b=a.getHours()+a.getTimezoneOffset()/60;if(18==a.getDate()&&0==a.getMonth()&&2012==a.getFullYear()&&13<=b&&24>=b)window.location="http://sopastrike.com/strike";</script>
  %body
    #wrapper
      #content
        %img#me{:src => "/images/me2.jpeg"}
        %h1 Hampton Catlin
        
        #header
          #nav
            %span= link_to "About", "/"
            %span= link_to "Blog", "/posts"
            %span= link_to "Email", "mailto:contact@hamptoncatlin.com"
            %span= link_to "Twitter", "http://www.twitter.com/hcatlin"

          %p
            Hampton Catlin is the inventor of 
            %a{:href => "http://sass-lang.com"} Sass, a CSS generating language,
            and the
            %a{:href => "http://haml-lang.com"} Haml markup language
          %p 
            He is the original creator of Wikipedia Mobile (m.wikipedia.org)
            and is also the creator of several successful iPhone applications
            including Dictionary!
          %p
            Hampton is currently building crazy new technologies to mobilize the web at 
            %a{:href => "http://www.moovweb.com"} Moovweb.
        .clear
        = yield
      #footer
        Everything copyright Hampton Catlin for every year, ever. Licenses vary. Usually MIT.
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-121285-11");
    pageTracker._trackPageview();
    } catch(err) {}</script>