!!!
%html
  %head
    %title Hampton Catlin | Sass, libsass, Moovweb, Golang
    <link href="http://blog.hamptoncatlin.com/feed/atom.xml" rel="alternate" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" href="/application.css" />
    <script type="text/javascript">var a=new Date,b=a.getHours()+a.getTimezoneOffset()/60;if(18==a.getDate()&&0==a.getMonth()&&2012==a.getFullYear()&&13<=b&&24>=b)window.location="http://sopastrike.com/strike";</script>
  %body
    #wrapper
      #content
        %img#me{:src => "/images/me2.jpeg"}
        %h1 Hampton Catlin
        
        #header
          #nav
            %span= link_to "About", "/"
            %span= link_to "Archive", "/posts"
            %span= link_to "Email", "mailto:contact@hamptoncatlin.com"
            %span= link_to "Twitter", "http://www.twitter.com/hcatlin"

          %p
            Hampton Catlin is the inventor of 
            %a{:href => "http://sass-lang.com"} Sass, 
            %a{:href => "http://haml.info"} Haml, 
            %a{:href => "http://m.wikipedia.org"} m.wikipedia.org, 
            and 
            %a{:href => "http://moovweb.com"} Moovweb. 
            He's also the founder of the 
            = link_to "libsass", "http://github.com/hcatlin/libsass"
            project and the author of 
            = link_to "\"The Pragmatic Guide to Sass.\"", "http://pragprog.com/book/pg_sass/pragmatic-guide-to-sass" 
            Hampton is also the CTO of Moovweb, helping large companies build better interfaces.
        .clear.seperator
        = yield
    #footer
      Everything copyright Hampton Catlin for every year, ever. Licenses vary. Usually MIT. Not responsible for content. No idea who you are. Oh, we met before. Sorry. I am just so very important and busy that I didn't remember your name. You think my website sucks? Yeah, I know it does. It sucks because I'm busy doing other, far more important things. What things? Things like going to dive bars and coding and playing good cop or maybe bad cop depending on the day. Yeah, I could have a designer friend make the site not suck, but then I'll owe them something and it will be all weird.  Oh! You are a designer. Sure! I'd love some help. \/Time passes nothing happens. --- You think the footer is the wrong place to put content? Well, fuck you. 
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-121285-11");
  pageTracker._trackPageview();
  } catch(err) {}</script>
