<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Hampton Lintorn-Catlin" %></title>
    <%
      og_title = current_page.data.title || "Hampton Lintorn-Catlin"
      og_description = current_page.data.description || "Hampton Lintorn-Catlin — Technical leader, computer wrangler."
      og_image = "https://hamptonmakes.com/images/Hampton.jpg"
      og_url = "https://hamptonmakes.com#{current_page.url}"
      og_type = defined?(current_article) ? "article" : "website"
    %>
    <meta name="description" content="<%= og_description %>">
    <meta property="og:title" content="<%= og_title %>">
    <meta property="og:description" content="<%= og_description %>">
    <meta property="og:image" content="<%= og_image %>">
    <meta property="og:url" content="<%= og_url %>">
    <meta property="og:type" content="<%= og_type %>">
    <meta property="og:site_name" content="Hampton Lintorn-Catlin">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= og_title %>">
    <meta name="twitter:description" content="<%= og_description %>">
    <meta name="twitter:image" content="<%= og_image %>">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <!-- Default Statcounter code for Hampton Makes https://hamptonmakes.com -->
    <script type="text/javascript">
    var sc_project=12976120;
    var sc_invisible=1;
    var sc_security="44217097";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12976120/0/44217097/1/" alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://oprfbqpirrnefispbivf-matomo.services.clever-cloud.com/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
<!-- End Matomo Code -->
  </head>
  <body class="<%= page_classes %>">
    <canvas id="starfield"></canvas>
    <header class="site-header">
      <nav class="site-nav">
        <a class="brand" href="/"><span class="brand-at">@</span>HamptonMakes</a>
        <a class="nav-link" href="/blog/">Blog</a>
        <a class="nav-link" href="/bookshelf.html">Bookshelf</a>
        <button class="hamburger" aria-label="Menu" onclick="this.classList.toggle('open');document.querySelector('.site-nav').classList.toggle('nav-open')">
          <span></span><span></span><span></span>
        </button>
      </nav>
    </header>

    <main class="page">
      <%= yield %>
    </main>

    <footer class="site-footer">
      <div class="footer-links">
        <a href="https://github.com/hamptonmakes" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"><path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"/></svg>
        </a>
        <a href="https://www.linkedin.com/in/hamptonmakes/" aria-label="LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"><path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"/></svg>
        </a>
        <a href="https://bsky.app/profile/hamptonmakes.com" aria-label="Bluesky">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 530" width="30" height="26"><path d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"/></svg>
        </a>
        <a href="mailto:hampton@lin.cat" aria-label="Email">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>
        </a>
      </div>
    </footer>
  </body>
</html>
