%img#me{:src => "/images/me.jpg"}

%h1 Hampton Catlin

%ul#biglinks
  %li= link "Blog", "http://blog.hamptoncatlin.com"
  %li= link "Email", "mailto:contact@hamptoncatlin.com"
  %li= link "Twitter", "http://www.twitter.com/hcatlin"

%p
  Hampton Catlin is the Project Lead of the Wikimedia Foundation's Mobile Project heading development of their 
  %a{:href => "http://wikitech.wikimedia.org/view/Mobile"} mobile platform. 
  He is also the creator of several successful iPhone applications.
  
%p
  He is also the inventor of the 
  %a{:href => "http://haml-lang.com"} Haml markup language 
  and 
  %a{:href => "http://sass-lang.com"} Sass, a CSS generating language.

%h2 Projects

%ul
  %li
    = link "Wikipedia's Mobile Site", "http://m.wikipedia.org"
    == (#{link "code", "http://github.com/hcatlin/wikimedia-mobile/"}, #{link_to "info", "http://wikitech.wikimedia.org/view/Mobile"})
  %li
    = link "Dictionary! iPhone App", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=293283136&mt=8"
    == (#{link "contact", "mailto:dictionary@hamptoncatlin.com"})
  %li
    = link "Haml", "http://haml-lang.com"
    and
    = link "Sass", "http://sass-lang.com"
  %li= link "make_resourceful (for Rails)", "https://github.com/hcatlin/make_resourceful/tree"
  %li
    = link "Rails Boost", "http://www.railsboost.com"
    == (#{link "code", "http://github.com/hcatlin/railsboost/tree"})
  %li= link "Learn Pi", "http://pi.hamptoncatlin.com"
  %li= link_to "Sulzbacher Action Site", "http://action.sulzbachercenter.org"
  %li= link_to "Jordan, Jesse, Go! Fansite", "http://www.jjgo.org"


%h2 In The Press

%ul
  %li
    = link_to "Meet the Merbists: Hampton Catlin", "Meet the merbists: Hampton Catlin"
    %em (Meet the Merbists Series)
  %li
    = link_to "Cloud Computing and Ruby: Interviewing Hampton Catlin", "http://ruby.about.com/od/reviewsevents/p/hcatlin2.htm"
    %em (About.com)
  %li
    = link_to "iPhone App Review - Dictionary!", "http://appshouter.com/iphone-app-review/iphone-app-review-%E2%80%93-dictionary/"
    %em (Appshouter.com)
  %li
    = link_to "Podcast - Episode 1 - Hampton Catlin", "http://www.mobileorchard.com/podcast-interview-with-hampton-catlin/"
    %em (MobileOrchard.com)
  %li
    = link_to "Rails Podcast: Hampton Catlin", "http://podcast.rubyonrails.org/programs/1/episodes/hampton_catlin"
    %em (podcast.rubyonrails.org)

%em  
  If you are interested in contacting me for an interview or to quote on your story, please use
  = link_to "this address", "mailto:press@hamptoncatlin.com"

%h2 Books I'm Mentioned In

.books
  .book.highlight
    %h3 co-authored
    <a href="http://www.amazon.com/gp/product/1590596862?ie=UTF8&tag=justasloud-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1590596862"><img border="0" src="511nGo%2BS9-L._SL110_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=justasloud-20&l=as2&o=1&a=1590596862" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  .book
    <a href="http://www.amazon.com/gp/product/0596523009?ie=UTF8&tag=justasloud-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0596523009"><img border="0" src="41j2GQvXI3L._SL110_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=justasloud-20&l=as2&o=1&a=0596523009" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  .book
    <a href="http://www.amazon.com/gp/product/0321445619?ie=UTF8&tag=justasloud-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0321445619"><img border="0" src="51QMXWhhVjL._SL110_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=justasloud-20&l=as2&o=1&a=0321445619" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  .book
    <a href="http://www.amazon.com/gp/product/0596510322?ie=UTF8&tag=justasloud-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0596510322"><img border="0" src="41YiiJK-2LL._SL110_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=justasloud-20&l=as2&o=1&a=0596510322" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  
  .book
    <a href="http://www.amazon.com/gp/product/1590597818?ie=UTF8&tag=justasloud-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1590597818"><img border="0" src="41ISDydfaTL._SL110_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=justasloud-20&l=as2&o=1&a=1590597818" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  .book
    <a href="http://www.amazon.com/gp/product/1590599934?ie=UTF8&tag=justasloud-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1590599934"><img border="0" src="51uPAUUDwKL._SL110_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=justasloud-20&l=as2&o=1&a=1590599934" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  
.clear

%h2 Contact

%p
  Please email me at 
  %a{:href => "mailto:contact@hamptoncatlin.com"} contact@hamptoncatlin.com
  for most queries.

%p 
  You can also contact me at 
  %a{:href => "mailto:hcatlin@wikimedia.org"} hcatlin@wikimedia.org
  for Wikimedia related questions.