%img#me{:src => "/images/me.jpg"}

%h1 Hampton Catlin

%ul#biglinks
  %li= link "Blog", "http://blog.hamptoncatlin.com"
  %li= link "Email", "mailto:contact@hamptoncatlin.com"
  %li= link "Twitter", "http://www.twitter.com/hcatlin"

%p
  Hampton Catlin is the creator of many successful iPhone applications and works mainly at the Wikimedia Foundation 
  heading development of their 
  %a{:href => "http://wikitech.wikimedia.org/view/Mobile"} mobile platform.
  He is also the inventor of the 
  %a{:href => "http://haml-lang.com"} Haml markup language 
  and 
  %a{:href => "http://sass-lang.com"} Sass, a CSS generating language.

%h2 Projects

%ul
  %li
    = link "Wikipedia's Mobile Site", "http://m.wikipedia.org"
    == (#{link "code", "http://github.com/hcatlin/wikimedia-mobile/"}, #{link_to "info", "http://wikitech.wikimedia.org/view/Mobile"})
  %li
    = link "Dictionary! iPhone App", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=293283136&mt=8"
    == (#{link "contact", "mailto:dictionary@hamptoncatlin.com"})
  %li
    = link "Haml", "http://haml-lang.com"
    and
    = link "Sass", "http://sass-lang.com"
  %li= link "make_resourceful (for Rails)", "https://github.com/hcatlin/make_resourceful/tree"
  %li
    = link "Rails Boost", "http://www.railsboost.com"
    == (#{link "code", "http://github.com/hcatlin/railsboost/tree"})
  %li= link "Learn Pi", "http://pi.hamptoncatlin.com"
  %li= link_to "Sulzbacher Fundraising Site", "http://action.sulzbachercenter.org"
  %li= link_to "Jordan, Jesse, Go! Fansite", "http://www.jjgo.org"

%h2

%h2 Contact

%p
  Please email me at 
  %a{:href => "mailto:contact@hamptoncatlin.com"} contact@hamptoncatlin.com
  for most queries.

%p 
  You can also contact me at 
  %a{:href => "mailto:hcatlin@wikimedia.org"} hcatlin@wikimedia.org
  for Wikimedia related questions.